<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <ol>
            <li v-for="task in tasks">
                {{ task.task }}
                <input type="checkbox" v-model="task.completed" name="completed">

            </li>
        </ol>
        <input type="text" v-model="newTask">
        <button @click="addTask">Add a new Task</button>
        <h1>Undone tasks</h1>
        <ol>
            <li v-for="task in undone" v-text="task.task">
                
            </li>
        </ol>
      
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script>

        var vm = new Vue({
            el: '#app',
            data: {
                tasks: [
                    { task: 'Go to the store', completed: true },
                    { task: 'Eat Farfel', completed: true },
                    { task: 'Jump around', completed: false },
                    { task: 'Go Learn', completed: true },
                    { task: 'Go to sleep', completed: false },
                ],
                newTask: '',
            },
            computed: {
                undone() {

                    return this.tasks.filter(task => !task.completed);
                },
            },
            methods: {
                addTask(){
                    this.tasks.push({task :this.newTask, completed: false})
                    this.newTask = '';
                },
            },
        })

    </script>
</body>

</html>